/* COLORS */
/* COMPONENTS */
.col,
[class^='col-'],
[class^=' col-'] {
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.container,
[class^='container-'],
[class^=' container-'] {
  display: block;
  width: 100%;
  padding: none;
  margin: none; }


.col-1 {
  width: calc(100%/20); }


.container-1 {
  width: calc(100%/20); }

@media screen and (max-width: 320px) {
  
  .col-xs-1 {
    width: calc(100%/20); } }

@media screen and (max-width: 576px) {
  
  .col-s-1 {
    width: calc(100%/20); } }

@media screen and (max-width: 768px) {
  
  .col-m-1 {
    width: calc(100%/20); } }

@media screen and (max-width: 992px) {
  
  .col-l-1 {
    width: calc(100%/20); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-1 {
    width: calc(100%/20); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-1 {
    width: calc(100%/20); } }


.col-2 {
  width: calc(100%/10); }


.container-2 {
  width: calc(100%/10); }

@media screen and (max-width: 320px) {
  
  .col-xs-2 {
    width: calc(100%/10); } }

@media screen and (max-width: 576px) {
  
  .col-s-2 {
    width: calc(100%/10); } }

@media screen and (max-width: 768px) {
  
  .col-m-2 {
    width: calc(100%/10); } }

@media screen and (max-width: 992px) {
  
  .col-l-2 {
    width: calc(100%/10); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-2 {
    width: calc(100%/10); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-2 {
    width: calc(100%/10); } }


.col-3 {
  width: calc(100%/6.66667); }


.container-3 {
  width: calc(100%/6.66667); }

@media screen and (max-width: 320px) {
  
  .col-xs-3 {
    width: calc(100%/6.66667); } }

@media screen and (max-width: 576px) {
  
  .col-s-3 {
    width: calc(100%/6.66667); } }

@media screen and (max-width: 768px) {
  
  .col-m-3 {
    width: calc(100%/6.66667); } }

@media screen and (max-width: 992px) {
  
  .col-l-3 {
    width: calc(100%/6.66667); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-3 {
    width: calc(100%/6.66667); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-3 {
    width: calc(100%/6.66667); } }


.col-4 {
  width: calc(100%/5); }


.container-4 {
  width: calc(100%/5); }

@media screen and (max-width: 320px) {
  
  .col-xs-4 {
    width: calc(100%/5); } }

@media screen and (max-width: 576px) {
  
  .col-s-4 {
    width: calc(100%/5); } }

@media screen and (max-width: 768px) {
  
  .col-m-4 {
    width: calc(100%/5); } }

@media screen and (max-width: 992px) {
  
  .col-l-4 {
    width: calc(100%/5); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-4 {
    width: calc(100%/5); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-4 {
    width: calc(100%/5); } }


.col-5 {
  width: calc(100%/4); }


.container-5 {
  width: calc(100%/4); }

@media screen and (max-width: 320px) {
  
  .col-xs-5 {
    width: calc(100%/4); } }

@media screen and (max-width: 576px) {
  
  .col-s-5 {
    width: calc(100%/4); } }

@media screen and (max-width: 768px) {
  
  .col-m-5 {
    width: calc(100%/4); } }

@media screen and (max-width: 992px) {
  
  .col-l-5 {
    width: calc(100%/4); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-5 {
    width: calc(100%/4); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-5 {
    width: calc(100%/4); } }


.col-6 {
  width: calc(100%/3.33333); }


.container-6 {
  width: calc(100%/3.33333); }

@media screen and (max-width: 320px) {
  
  .col-xs-6 {
    width: calc(100%/3.33333); } }

@media screen and (max-width: 576px) {
  
  .col-s-6 {
    width: calc(100%/3.33333); } }

@media screen and (max-width: 768px) {
  
  .col-m-6 {
    width: calc(100%/3.33333); } }

@media screen and (max-width: 992px) {
  
  .col-l-6 {
    width: calc(100%/3.33333); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-6 {
    width: calc(100%/3.33333); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-6 {
    width: calc(100%/3.33333); } }


.col-7 {
  width: calc(100%/2.85714); }


.container-7 {
  width: calc(100%/2.85714); }

@media screen and (max-width: 320px) {
  
  .col-xs-7 {
    width: calc(100%/2.85714); } }

@media screen and (max-width: 576px) {
  
  .col-s-7 {
    width: calc(100%/2.85714); } }

@media screen and (max-width: 768px) {
  
  .col-m-7 {
    width: calc(100%/2.85714); } }

@media screen and (max-width: 992px) {
  
  .col-l-7 {
    width: calc(100%/2.85714); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-7 {
    width: calc(100%/2.85714); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-7 {
    width: calc(100%/2.85714); } }


.col-8 {
  width: calc(100%/2.5); }


.container-8 {
  width: calc(100%/2.5); }

@media screen and (max-width: 320px) {
  
  .col-xs-8 {
    width: calc(100%/2.5); } }

@media screen and (max-width: 576px) {
  
  .col-s-8 {
    width: calc(100%/2.5); } }

@media screen and (max-width: 768px) {
  
  .col-m-8 {
    width: calc(100%/2.5); } }

@media screen and (max-width: 992px) {
  
  .col-l-8 {
    width: calc(100%/2.5); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-8 {
    width: calc(100%/2.5); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-8 {
    width: calc(100%/2.5); } }


.col-9 {
  width: calc(100%/2.22222); }


.container-9 {
  width: calc(100%/2.22222); }

@media screen and (max-width: 320px) {
  
  .col-xs-9 {
    width: calc(100%/2.22222); } }

@media screen and (max-width: 576px) {
  
  .col-s-9 {
    width: calc(100%/2.22222); } }

@media screen and (max-width: 768px) {
  
  .col-m-9 {
    width: calc(100%/2.22222); } }

@media screen and (max-width: 992px) {
  
  .col-l-9 {
    width: calc(100%/2.22222); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-9 {
    width: calc(100%/2.22222); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-9 {
    width: calc(100%/2.22222); } }


.col-10 {
  width: calc(100%/2); }


.container-10 {
  width: calc(100%/2); }

@media screen and (max-width: 320px) {
  
  .col-xs-10 {
    width: calc(100%/2); } }

@media screen and (max-width: 576px) {
  
  .col-s-10 {
    width: calc(100%/2); } }

@media screen and (max-width: 768px) {
  
  .col-m-10 {
    width: calc(100%/2); } }

@media screen and (max-width: 992px) {
  
  .col-l-10 {
    width: calc(100%/2); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-10 {
    width: calc(100%/2); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-10 {
    width: calc(100%/2); } }


.col-11 {
  width: calc(100%/1.81818); }


.container-11 {
  width: calc(100%/1.81818); }

@media screen and (max-width: 320px) {
  
  .col-xs-11 {
    width: calc(100%/1.81818); } }

@media screen and (max-width: 576px) {
  
  .col-s-11 {
    width: calc(100%/1.81818); } }

@media screen and (max-width: 768px) {
  
  .col-m-11 {
    width: calc(100%/1.81818); } }

@media screen and (max-width: 992px) {
  
  .col-l-11 {
    width: calc(100%/1.81818); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-11 {
    width: calc(100%/1.81818); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-11 {
    width: calc(100%/1.81818); } }


.col-12 {
  width: calc(100%/1.66667); }


.container-12 {
  width: calc(100%/1.66667); }

@media screen and (max-width: 320px) {
  
  .col-xs-12 {
    width: calc(100%/1.66667); } }

@media screen and (max-width: 576px) {
  
  .col-s-12 {
    width: calc(100%/1.66667); } }

@media screen and (max-width: 768px) {
  
  .col-m-12 {
    width: calc(100%/1.66667); } }

@media screen and (max-width: 992px) {
  
  .col-l-12 {
    width: calc(100%/1.66667); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-12 {
    width: calc(100%/1.66667); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-12 {
    width: calc(100%/1.66667); } }


.col-13 {
  width: calc(100%/1.53846); }


.container-13 {
  width: calc(100%/1.53846); }

@media screen and (max-width: 320px) {
  
  .col-xs-13 {
    width: calc(100%/1.53846); } }

@media screen and (max-width: 576px) {
  
  .col-s-13 {
    width: calc(100%/1.53846); } }

@media screen and (max-width: 768px) {
  
  .col-m-13 {
    width: calc(100%/1.53846); } }

@media screen and (max-width: 992px) {
  
  .col-l-13 {
    width: calc(100%/1.53846); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-13 {
    width: calc(100%/1.53846); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-13 {
    width: calc(100%/1.53846); } }


.col-14 {
  width: calc(100%/1.42857); }


.container-14 {
  width: calc(100%/1.42857); }

@media screen and (max-width: 320px) {
  
  .col-xs-14 {
    width: calc(100%/1.42857); } }

@media screen and (max-width: 576px) {
  
  .col-s-14 {
    width: calc(100%/1.42857); } }

@media screen and (max-width: 768px) {
  
  .col-m-14 {
    width: calc(100%/1.42857); } }

@media screen and (max-width: 992px) {
  
  .col-l-14 {
    width: calc(100%/1.42857); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-14 {
    width: calc(100%/1.42857); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-14 {
    width: calc(100%/1.42857); } }


.col-15 {
  width: calc(100%/1.33333); }


.container-15 {
  width: calc(100%/1.33333); }

@media screen and (max-width: 320px) {
  
  .col-xs-15 {
    width: calc(100%/1.33333); } }

@media screen and (max-width: 576px) {
  
  .col-s-15 {
    width: calc(100%/1.33333); } }

@media screen and (max-width: 768px) {
  
  .col-m-15 {
    width: calc(100%/1.33333); } }

@media screen and (max-width: 992px) {
  
  .col-l-15 {
    width: calc(100%/1.33333); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-15 {
    width: calc(100%/1.33333); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-15 {
    width: calc(100%/1.33333); } }


.col-16 {
  width: calc(100%/1.25); }


.container-16 {
  width: calc(100%/1.25); }

@media screen and (max-width: 320px) {
  
  .col-xs-16 {
    width: calc(100%/1.25); } }

@media screen and (max-width: 576px) {
  
  .col-s-16 {
    width: calc(100%/1.25); } }

@media screen and (max-width: 768px) {
  
  .col-m-16 {
    width: calc(100%/1.25); } }

@media screen and (max-width: 992px) {
  
  .col-l-16 {
    width: calc(100%/1.25); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-16 {
    width: calc(100%/1.25); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-16 {
    width: calc(100%/1.25); } }


.col-17 {
  width: calc(100%/1.17647); }


.container-17 {
  width: calc(100%/1.17647); }

@media screen and (max-width: 320px) {
  
  .col-xs-17 {
    width: calc(100%/1.17647); } }

@media screen and (max-width: 576px) {
  
  .col-s-17 {
    width: calc(100%/1.17647); } }

@media screen and (max-width: 768px) {
  
  .col-m-17 {
    width: calc(100%/1.17647); } }

@media screen and (max-width: 992px) {
  
  .col-l-17 {
    width: calc(100%/1.17647); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-17 {
    width: calc(100%/1.17647); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-17 {
    width: calc(100%/1.17647); } }


.col-18 {
  width: calc(100%/1.11111); }


.container-18 {
  width: calc(100%/1.11111); }

@media screen and (max-width: 320px) {
  
  .col-xs-18 {
    width: calc(100%/1.11111); } }

@media screen and (max-width: 576px) {
  
  .col-s-18 {
    width: calc(100%/1.11111); } }

@media screen and (max-width: 768px) {
  
  .col-m-18 {
    width: calc(100%/1.11111); } }

@media screen and (max-width: 992px) {
  
  .col-l-18 {
    width: calc(100%/1.11111); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-18 {
    width: calc(100%/1.11111); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-18 {
    width: calc(100%/1.11111); } }


.col-19 {
  width: calc(100%/1.05263); }


.container-19 {
  width: calc(100%/1.05263); }

@media screen and (max-width: 320px) {
  
  .col-xs-19 {
    width: calc(100%/1.05263); } }

@media screen and (max-width: 576px) {
  
  .col-s-19 {
    width: calc(100%/1.05263); } }

@media screen and (max-width: 768px) {
  
  .col-m-19 {
    width: calc(100%/1.05263); } }

@media screen and (max-width: 992px) {
  
  .col-l-19 {
    width: calc(100%/1.05263); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-19 {
    width: calc(100%/1.05263); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-19 {
    width: calc(100%/1.05263); } }


.col-20 {
  width: calc(100%/1); }


.container-20 {
  width: calc(100%/1); }

@media screen and (max-width: 320px) {
  
  .col-xs-20 {
    width: calc(100%/1); } }

@media screen and (max-width: 576px) {
  
  .col-s-20 {
    width: calc(100%/1); } }

@media screen and (max-width: 768px) {
  
  .col-m-20 {
    width: calc(100%/1); } }

@media screen and (max-width: 992px) {
  
  .col-l-20 {
    width: calc(100%/1); } }

@media screen and (max-width: 1200px) {
  
  .col-xl-20 {
    width: calc(100%/1); } }

@media screen and (max-width: 1400px) {
  
  .col-xxl-20 {
    width: calc(100%/1); } }

.flex {
  display: flex; }
  .flex-fd-ror {
    flex-direction: row-reverse; }
  .flex-fd-col {
    flex-direction: column; }
  .flex-fd-colr {
    flex-direction: column-reverse; }
  .flex-jc-start {
    justify-content: flex-start; }
  .flex-jc-end {
    justify-content: flex-end; }
  .flex-jc-center {
    justify-content: center; }
  .flex-jc-between {
    justify-content: space-between; }
  .flex-jc-around {
    justify-content: space-around; }
  .flex-jc-evenly {
    justify-content: space-evenly; }
  .flex-js-initial {
    justify-content: inherit; }
  .flex-ac-start {
    align-content: flex-start; }
  .flex-ac-end {
    align-content: flex-end; }
  .flex-ac-center {
    align-content: center; }
  .flex-ac-between {
    align-content: space-between; }
  .flex-ac-around {
    align-content: space-around; }
  .flex-ac-evenly {
    align-content: space-evenly; }
  .flex-ac-initial {
    align-content: inherit; }
  .flex-ac-stretch {
    align-content: stretch; }
  .flex-ai-start {
    align-items: flex-start; }
  .flex-ai-end {
    align-items: flex-end; }
  .flex-ai-center {
    align-items: center; }
  .flex-ai-initial {
    align-items: inherit; }
  .flex-ai-stretch {
    align-items: stretch; }
  .flex-ai-base {
    align-items: baseline; }
